/* Font Styles */
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  transition: all 0.3s ease;
}

body.dark-mode {
  background-color: #413f3f;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #ca3c11;
  color: white;
}

.navbar ul {
  display: flex;
  list-style-type: none;
}

.navbar ul li {
  margin: 0 15px;
}

.navbar ul li a {
  color: rgb(87, 23, 235);
  text-decoration: none;
  cursor: pointer;
}

.hero {
  text-align: center;
  padding: 50px 20px;
  background-color: #742020;
}

.helm-gallery {
  padding: 50px 20px;
  text-align: center;
}

.helm-items {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.helm-item {
  width: 150px;
  margin: 20px;
  cursor: pointer;
}

.helm-item img {
  width: 100%;
  border-radius: 10px;
}

.about {
  padding: 50px 20px;
  text-align: center;
  background-color: #f8f8f8;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background-color: #573535;
  color: white;
}

/* Hamburger Menu (Mobile View) */
.hamburger {
  display: none;
  font-size: 30px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .navbar ul {
      flex-direction: column;
      display: none;
  }

  .navbar ul.active {
      display: flex;
  }

  .hamburger {
      display: block;
  }
}
